<!DOCTYPE html>
<html>
<head>
    <!-- <title>ViewData["Title"]</title> -->
    <title>Some title</title>
</head>
<body>
<style>
    .notyf__wrapper .notyf__icon i {
        margin-top: 3px;
        color: #fff !important;
    }
    .notyf__wrapper .notyf__message {
        font-family: 'Open Sans', sans-serif !important;
        font-size: 16px !important;
    }
</style>

@await Html.PartialAsync("_Header")

<div style="margin-top: 100px; background: silver;">
    @RenderBody()
</div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/0172dea2c0.js" crossorigin="anonymous"></script>
@await Component.InvokeAsync("Notyf")
</body>
</html>