@model MethodicalSupportDisciplines.Shared.ViewModels.Forms.Auth.RemindPasswordViewModel

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form method="post" asp-controller="Auth" asp-action="RemindPassword" asp-antiforgery="true" autocomplete="off">
    <div asp-validation-summary="All"></div>
    <div>
        <input asp-for="Email" placeholder="Email">
    </div>
    <button type="submit">Send list to email</button>
</form>
</body>
</html>