@model MethodicalSupportDisciplines.Shared.ViewModels.Forms.Auth.RemindPasswordViewModel

@{
    ViewData["Title"] = ViewLocalization["Title"];
}

@await Html.PartialAsync("_MainFormsBackground")

<div class="auth-form">
    <form method="post" asp-controller="Auth" asp-action="RemindPassword" asp-antiforgery="true" autocomplete="off">
        <h1>@ViewLocalization["Title"]</h1>
        <div class="form-errors">
            <div asp-validation-summary="All"></div>
        </div>
        <div class="form-group">
            <input asp-for="Email" class="form-control item" placeholder="Email">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-block create-account">@ViewLocalization["SendList"]</button>
        </div>
    </form>
</div>