@{
    ViewData["Title"] = ViewLocalization["Title"];
}

@await Html.PartialAsync("_MainFormsBackground")

<div class="auth-form">
    <form>
        <h1 class="without-forms">@ViewLocalization["ResultTitle"]</h1>
    </form>
</div>