@model MethodicalSupportDisciplines.Shared.ViewModels.Forms.Auth.ResetPasswordViewModel

@{
    ViewData["Title"] = ViewLocalization["Title"];
}

@await Html.PartialAsync("_MainFormsBackground")

<div class="auth-form">
    <form method="post" asp-controller="Auth" asp-action="ResetPassword" asp-antiforgery="true" autocomplete="off">
        <h1>@ViewLocalization["Title"]</h1>
        <input asp-for="Token" type="hidden">
        <input asp-for="Value" type="hidden">
        <div class="form-errors">
            <div asp-validation-summary="All"></div>
        </div>
        <div class="form-group password-group">
            <input asp-for="NewPassword" class="form-control item login-password-field" placeholder="New Password">
            <span><i class="fa fa-eye login-password-eye" aria-hidden="true"></i></span>
        </div>
        <div class="form-group password-group">
            <input asp-for="ConfirmNewPassword" class="form-control item login-password-field" placeholder="Confirm New Password">
            <span><i class="fa fa-eye login-password-eye" aria-hidden="true"></i></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-block create-account">@ViewLocalization["Title"]</button>
        </div>
    </form>
</div>

<environment names="Development">
    <script src="~/js/components/main/forms.component.js"></script>
</environment>
<environment names="Production">
    <script src="~/js/components/main/forms.component.min.js"></script>
</environment>