@model MethodicalSupportDisciplines.Shared.ViewModels.Forms.Auth.ResetPasswordViewModel

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form method="post" asp-controller="Auth" asp-action="ResetPassword" asp-antiforgery="true" autocomplete="off">
    <div asp-validation-summary="All"></div>
    <input asp-for="Token" type="hidden">
    <input asp-for="Value" type="hidden">

    <div>
        <input asp-for="NewPassword" placeholder="NewPassword">
    </div>
    <div>
        <input asp-for="ConfirmNewPassword" placeholder="ConfirmNewPassword">
    </div>
    <div>
        <button type="submit">Reset</button>
    </div>
</form>
</body>
</html>