@{
    ViewData["Title"] = ViewLocalization["Title"];
}

@await Html.PartialAsync("_MainFormsBackground")

<div class="auth-form">
    <form>
        <h1 class="without-forms">@ViewLocalization["ResultTitle"]</h1>
        <div class="form-group">
            <p>
                @ViewLocalization["GoTo"]
                <a asp-controller="Auth" asp-action="Login">@ViewLocalization["LoginButton"]</a>
            </p>
        </div>
    </form>
</div>