$body-background-color: #fff;

$header-item-color: #212121;
$header-item-active-color: #777;
$header-item-hover-color: #5791ff;
$header-toggler-color: #000;
$header-nav-item-after-color: #5791ff;
$header-dropdown-background-color: #fcfaff;
$header-dropdown-item-hover-color: #fff;
$header-dropdown-item-before-color: #000;
$header-dropdown-item-background-color: rgba(87, 145, 255, .6);

$selection-background-color: #5791ff;
$selection-color: #fff;

$text-validation-color: #ef5350;