<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>

    @await Html.PartialAsync("_Favicons")

    <!-- Styles -->
    <link href='https://fonts.googleapis.com/css?family=Anton|Passion+One|PT+Sans+Caption' rel='stylesheet' type='text/css'>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/style.css">
    </environment>
    <environment names="Production">
        <link rel="stylesheet" href="~/css/style.min.css">
    </environment>
</head>
<body>
<div class="error-container container-star">
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
</div>
<div class="error-container container-bird">
    <div class="bird bird-anim">
        <div class="bird-container">
            <div class="wing wing-left">
                <div class="wing-left-top"></div>
            </div>
            <div class="wing wing-right">
                <div class="wing-right-top"></div>
            </div>
        </div>
    </div>
    <div class="bird bird-anim">
        <div class="bird-container">
            <div class="wing wing-left">
                <div class="wing-left-top"></div>
            </div>
            <div class="wing wing-right">
                <div class="wing-right-top"></div>
            </div>
        </div>
    </div>
    <div class="bird bird-anim">
        <div class="bird-container">
            <div class="wing wing-left">
                <div class="wing-left-top"></div>
            </div>
            <div class="wing wing-right">
                <div class="wing-right-top"></div>
            </div>
        </div>
    </div>
    <div class="bird bird-anim">
        <div class="bird-container">
            <div class="wing wing-left">
                <div class="wing-left-top"></div>
            </div>
            <div class="wing wing-right">
                <div class="wing-right-top"></div>
            </div>
        </div>
    </div>
    <div class="bird bird-anim">
        <div class="bird-container">
            <div class="wing wing-left">
                <div class="wing-left-top"></div>
            </div>
            <div class="wing wing-right">
                <div class="wing-right-top"></div>
            </div>
        </div>
    </div>
    <div class="bird bird-anim">
        <div class="bird-container">
            <div class="wing wing-left">
                <div class="wing-left-top"></div>
            </div>
            <div class="wing wing-right">
                <div class="wing-right-top"></div>
            </div>
        </div>
    </div>
    @RenderBody()
</div>
</body>
</html>