.assign-role-container {
  margin: 140px auto 50px auto;
  background: #fcfcfc;
  padding: 20px;
  border: 1px solid #c5c5c5;
  border-radius: 5px;
  
  h2 {
    text-align: center;
    color: #212121;
    opacity: .85;
  }
}