@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

@import '../utils/_colors';

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  color: $header-item-color;
  background-position: center;
  background-repeat: repeat;
  background-size: 7%;
  background-color: $body-background-color;
  overflow-x: hidden;
  transition: all 200ms linear;
  -webkit-font-smoothing: subpixel-antialiased;
}

::selection {
  color: $selection-color;
  background-color: $selection-background-color;
}

::-moz-selection {
  color: $selection-color;
  background-color: $selection-background-color;
}

.main-container {
  margin-top: 70px;
}