.notyf__wrapper .notyf__icon i {
  margin-top: 3px;
  color: #fff !important;
}
.notyf__wrapper .notyf__message {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 16px !important;
  color: #fff !important;
}